@import "../../components/css/Form.css";

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:105px;
}

section .name_title {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 8px;
    padding-top: 18px;
}
section .name_title h4 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.language_ge section .name_title h4 {
    font-family: 'bpg_nino_mtavrulinormal', sans-serif;
}

.forgot {
    color:inherit;
    text-decoration:none;
    text-align: right;
    display:inline-block;
    float:right;
    margin-bottom: 1rem;
    font-size: 12px;
    margin-top: -8px;
}

